<div [className]="i % 2 == 1 ? 'container-fluid list-group-item list-group-item-dark':'container-fluid list-group-item list-group-item-light'"
                *ngFor='let info of currentUser.message; let i = index'>
                <div class="row">
                    <div class="col-8"><b>{{info}}</b> </div>
                    <div class="col-4 text-right">{{info.time}}</div>

                </div>
                <div class="row">
                    <div class="col-11">{{info.meg}}</div>
                </div>
            </div>

            <div [className]=" (hindex == true ? !(i % 2 == 1) :(i % 2 == 1) ) ? 'container-fluid list-group-item list-group-item-dark':'container-fluid list-group-item list-group-item-light'"
                *ngFor='let chat of chats;  let i = index'>
                <div class="row">
                    <div class="col-8"><b>{{chat.username}}</b> </div>
                    <div class="col-4 text-right">{{chat.time}}</div>

                </div>
                <div class="row">
                    <div class="col-11">{{chat.meg}}</div>
                </div>
            </div>
            <div class="bg-light">
                <div class="row ">
                    <div class="col " [formGroup]="chatForm"><br>
                        <textarea rows="4" class="container-fluid " #newmsg (keyup.enter)="sendMessage(newmsg.value); newmsg.value = ''"
                            formControlName="chat" required></textarea>
                    </div>
                </div>

                <div class="row ">
                    <div class="col text-right">
                        <button type="button" [disabled]="!chatForm.valid" class="btn btn-primary" (click)="sendMessage(newmsg.value); newmsg.value='';">Send
                            Message</button>
                    </div>
                </div>
            </div>