<app-header></app-header>
<p>{{currentUser.username}}</p>
<p>{{hindex}}</p>

<div class="container">
    <div class="row">
        <div class="col-4">
            <li class="list-group-item list-group-item-info" *ngFor='let info of currentUser.userlist'>{{info.username}}</li>
        </div>

        <div class="col-8">
            <div [className]="i % 2 == 1 ? 'container-fluid list-group-item list-group-item-dark':'container-fluid list-group-item list-group-item-light'"
                *ngFor='let info of currentUser.content; let i = index'>
                <div class="row">
                    <div class="col-8"><b>{{info.username}}</b> </div>
                    <div class="col-4">{{info.time}}</div>

                </div>
                <div class="row">
                    <div class="col-11">{{info.meg}}</div>
                </div>
            </div>

            <div [className]="hindex == true || i % 2 == 1 ? 'list-group-item list-group-item-dark':'list-group-item list-group-item-light'"
                *ngFor='let chat of chats;  let i = index'>
                <div class="row">
                    <div class="col-8"><b>{{chat.username}}</b> </div>
                    <div class="col-4">{{chat.time}}</div>

                </div>
                <div class="row">
                    <div class="col-11">{{chat.meg}}</div>
                </div>
            </div>
            <div class="container bg-light">
                <div class="row ">
                    <div class="col "><br>
                        <textarea rows="4" class="container-fluid " #newmsg (keyup.enter)="sendMessage(newmsg.value); newmsg.value = ''"></textarea>
                    </div>
                </div>
               
                <div class="row ">
                    <div class="col text-right">
                        <button type="button" class="btn btn-primary" (click)="sendMessage(newmsg.value); newmsg.value='';">Send
                            Message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


