<app-header></app-header>
<p>{{currentUser.username}}</p>
<p>{{data}}</p>
<div class="container">
    <div class="row">
        <div class="col-4">
            <li class="list-group-item list-group-item-info" *ngFor='let info of currentUser.userlist'>{{info.username}}</li>
        </div>
        <div class="col-8">
            <li class="list-group-item list-group-item-info" *ngFor='let info of currentUser.content'>{{info.username +
                ' :
                '+ info.meg +' ' + info.time}}</li>
            <!-- <li class="list-group-item list-group-item-info" *ngFor='let chat of chats'>{{chat.userid + ' : '+ chat.meg}}</li> -->
            <li class="list-group-item list-group-item-info" *ngFor='let chat of chats'>{{chat.username +' : '+
                chat.meg +
                ' '+ chat.time}}</li>

            <div>
                <input #newmsg (keyup.enter)="sendMessage(newmsg.value); newmsg.value = ''">
                <button type="button" class="btn btn-primary" (click)="sendMessage(newmsg.value); newmsg.value='';">Send
                    Message</button>
            </div>
        </div>
    </div>
</div>