<!-- <input #newmsg>
<li class="list-group-item list-group-item-info" *ngFor='let chat of chats'>{{chat}}</li>
<button type="button" class="btn btn-primary" (click)="sendMessage(newmsg.value); newmsg.value='' ">Send Message</button>

<button type="button" class="btn btn-secondary" (click)="senduserid('')">userid</button>

<p>{{userid}}</p>
<button>
    <a routerLink="/login">login</a>
</button>
<router-outlet></router-outlet> -->






<p>{{userid}}</p>
<button>
    <a routerLink="/login">login</a>
</button>
<router-outlet></router-outlet>

<li class="list-group-item list-group-item-info" *ngFor='let chat of chats'>{{chat}}</li>
<div class="fixed-bottom">
    <input #newmsg (keyup.enter)="sendMessage(newmsg.value); newmsg.value = ''">
    <button type="button" class="btn btn-primary" (click)="sendMessage(newmsg.value); newmsg.value='' ">Send Message</button>
    <button type="button" class="btn btn-secondary" (click)="senduserid('')">userid</button>
</div>