<app-header></app-header>
<router-outlet></router-outlet>



<li class="list-group-item list-group-item-info" *ngFor='let chat of chats'>{{chat.userid + ' : '+ chat.msg}}</li>
<div class="fixed-bottom">
    <input #newmsg (keyup.enter)="sendMessage(newmsg.value); newmsg.value = ''">
    <button type="button" class="btn btn-primary" (click)="sendMessage(newmsg.value); newmsg.value='' ">Send
        Message</button>
    <button type="button" class="btn btn-secondary" (click)="senduserid('')">userid</button>
  
</div>
