<h1>Log in</h1>
<p>{{logged}}</p>
<p>{{'username: '+ mess.username + ' userid: '+ mess.userid
  +' address: '+ mess.address}}
</p>

<form *ngIf="logged" #loginForm="ngForm">
  {{diagnostic}}
  <div class="form-group">
    <label for="name">User name</label>
    <input type="text" class="form-control" id="username"
           required
           [(ngModel)]="model.username" name="username">
  </div>


  <button type="submit" class="btn btn-success" (click)="sendusername()">Submit</button>

</form>
